<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece World</title>
</head>
<body>
    <h1>Welcome to One Piece World</h1>
    
    <a href="/">Home</a>
    <a href="/ships">Ships List</a>
    <a href="/ships/add">Add Ship</a>
    <a href="/pirates">Pirates List</a>
    <a href="/pirates/add">Add Pirate</a>    

    <img src="https://onepiecetheories.com/wp-content/uploads/2016/10/mariejois-one-piece.png" alt="mariejoa"> 

</body>
</html>
