<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ships List</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table {
            width: 500px;
        }
        th, td {
            padding: 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Ships List</h1>
    
    <a href="/">Home</a>
    <a href="/ships">Ships List</a>
    <a href="/ships/add">Add Ship</a>
    <a href="/pirates">Pirates List</a>
    <a href="/pirates/add">Add Pirate</a> 
    
    
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Power</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% Ships.forEach(ship => { %>
                <tr>
                    <td><%= ship.id %></td>
                    <td><%= ship.name %></td>
                    <td><%= ship.type %></td>
                    <td><%= ship.power %></td>
                    <td><a href="ships/delete/ <%= ship.id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>
